<nav>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="container">
      <h1>Contatos</h1>
      <span class="spacer"></span>
      <button
        mat-icon-button
        aria-label="Adicionar contato"
        routerLink="/contatos/add"
      >
        <mat-icon>person_add</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
<mat-list role="list" *ngIf="contatos; else elseBlock" class="container">
  <div mat-subheader>Lista de contatos</div>
  <a
    mat-list-item
    *ngFor="let contato of contatos"
    [routerLink]="['/contatos', contato.id]"
  >
    <mat-icon mat-list-icon>account_circle</mat-icon>
    <div mat-line>{{ contato.nome }}</div>
    <mat-action-list>
      <button mat-icon-button aria-label="Visualizar contato">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </mat-action-list>
  </a>
  <mat-divider></mat-divider>
  <div mat-subheader>Total: {{ contatos?.length }}</div>
</mat-list>
<ng-template #elseBlock>
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</ng-template>
