/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #f5f5f5;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}
.spacer {
  flex: 1 1 auto;
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
.container {
  max-width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  mat-toolbar-row.container {
    padding: 0;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .container {
    max-width: 480px;
  }
}

.avatar {
  font-size: 128px;
  width: 128px;
  height: 128px;
  margin-left: -96px;
}
mat-spinner {
  margin: 48px auto;
}
#cardForm {
  mat-form-field {
    width: 100%;
  }
  button {
    display: block;
    min-width: 180px;
    margin: 0 auto;
  }
}
